name: Solar system workflow
on: 
    workflow_dispatch:
    push:
        branches:
            - main
            - 'feature/*'
jobs:
    unit-testing:
        name: Unit Testubg
        runs-on: ubuntu-latest
        
        steps:
        # - uses: actions/checkout@v5
        # - uses: actions/setup-node@v6
        #   with:
        #     node-version: 24
        # - run: npm ci
        # - run: npm test
        
        - name: check repos
          uses: actions/checkout@v4

        - name: Setup NodeJS version 18
          uses: actions/setup-node@v3
          with:
            node-version: 18

        - name: Install Dependencies
          run: npm install
          
        - name: Install test
          run: npm install
          